.container {
    min-height: 800px;
    display: flex;
    border: 8px solid #000;
    gap: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: #0071ff;
    font-size: 40px;

    /**
      flex-shrink - определяет, насколько гибкий элемент будет сжиматься,
      если в родительском контейнере не хватает места
   */
    flex-shrink: 1;
}

#box-1 {
    /**
      По умолчанию все элементы имеют flex-shrink: 1.
      Если элементы не помещаются в ряд,
      они будут сжиматься пропорционально друг другу.


      Если задать flex-shrink: 0, элемент не будет сжиматься
      вообще и сохранит свой исходный размер, даже если
      из-за этого появится горизонтальная полоса прокрутки.

      Если у одного элемента flex-shrink: 1, а у другого flex-shrink: 2,
      то второй будет сжиматься вдвое быстрее первого при нехватке места.

      flex-shrink: N (тут передаем число)
   */
    flex-shrink: 0;
}
