<section class="movies">
    <h1>Movies</h1>

    <div class="movies__list">
        @for (movie of movies; track movie.id) {
            <article class="movie-card">
                <h2>{{ movie.title }}</h2>

                <img
                    [src]="movie.preview"
                    alt=""
                />
                <p>Year: {{ movie.year }}</p>
                <p>Genre: {{ movie.genre }}</p>
                <p>Rating: {{ movie.rating }}</p>

                <button (click)="checkAvailability(movie)">Check availability</button>
            </article>
        } @empty {
            <p>No movies found.</p>
        }
    </div>
</section>
